In [1]:
print("hello world")
#comments
print("teena goyal")

hello world
teena goyal

In [2]:
a="1"
b = "hello"
print(a+b)

a = "1"
b = "hello"
print(a,b)

a = "teena"
print("hello",a)

a = input("enter your name!")
print("hello",a)

1hello
1 hello
hello teena
enter your name!teena
hello teena

In [3]:
a=2
b=5
c=a+b
print(c)

7

In [8]:
a=input()#string form is taken in input
b=input()
c=a+b
print(c)

4
5
45

In [4]:
a=int(input())
b=int(input())
c=a+b
d=a-b
e=a*b
f=a**b
g=a/b
h=a//b
print(c,d,e,f,g,h)

5
2
7 3 10 25 2.5 2

In [7]:
a1=input("enter name! ")
b2=input("whtat is your class? ")
c1=a1,b2
print(c1)

enter name! teena
whtat is your class? 1st
('teena', '1st')

In [29]:
#OUTPUT FORMATTING
print("hello teena")

print("\thello {}".format(input("enter name! ")))

print("hello {},do you like {}?".format(input("enter name!"),"tea"))

print("\thello {0},i will like to have {1}".format("teena","tea"))

hello teena
enter name! kiki
	hello kiki
enter name!abhishek
hello abhishek,do you like tea?
	hello teena,i will like to have tea

In [43]:
a = 123.456
print("value of a is: {0:.1f}".format(a))

value of a is: 123.5

In [46]:
#datatypes
a=12
b=1+2j
c=12.34
print(type(a))
print(type(b))
print(type(c))


x="teena"
y="teena"*2
z="2"
print(type(x))
print(y)
print(type(z))

<class 'int'>
<class 'complex'>
<class 'float'>
<class 'str'>
teenateena
<class 'str'>

In [62]:
a = -4
a = 256
a = 257
print(id(a))
print(id(b))
print(id(c))

2528097802608
2528014199184
2528097802096

In [12]:
#find avg of marks
#x to the pwer n
#arithmatic progression
#rectangular area

a = pow(2,2)
print(a)

4

In [2]:
n = int(input())
listt = [[int(j) for j in input().split()] for i in range(n)]
print(listt)
listt.insert(1,[1,2,3,4])
print(listt)

3
1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [1, 2, 3, 4], [4, 5, 6], [7, 8, 9]]

1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
list_a = [1,2,3,4,5,7]
list_b = [7,8,9,0,5,3]
common_no = [a for a in list_a for b in list_b if a==b]
print(common_no)

[3, 5, 7]

In [4]:
list1 = []
r = int(input("enter the no. of row we want in list: "))
c= int(input("enter number of column in list: "))
for i in range(r):
    row = []
    for j in range(c):
        element = int(input())
        row.append(element)
    list1.append(row)
    print("list has creatn ed:", list1)
for k in list1:
    print(k)

enter the no. of row we want in list: 3
enter number of column in list: 4
1
2
3
4
list has creatn ed: [[1, 2, 3, 4]]
5
6
7
8
list has creatn ed: [[1, 2, 3, 4], [5, 6, 7, 8]]
2
4
6
8
list has creatn ed: [[1, 2, 3, 4], [5, 6, 7, 8], [2, 4, 6, 8]]
[1, 2, 3, 4]
[5, 6, 7, 8]
[2, 4, 6, 8]

In [24]:
n = int(input())
listt = [[int(j) for j in input().split()] for i in range(n)]
#list form
print(listt)
#matrix form
for k in listt:
    print(k)

3
1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [47]:
lst = [[1,2,3],[5,6,7]]
lst.remove([1,2,3])
print(lst)

[[5, 6, 7]]

In [13]:
mydate = input("enter a date in form mm/dd/yyyy: ")
datelist = mydate.split('/')
month = int(datelist[0])
day = int(datelist[1])
year = int(datelist[2])
if month == 1:
    month = 'jan'
elif month == 2:
    month = 'feb'
elif month == 3:
    month = 'march'
elif month == 4:
    month = 'april'
elif month == 5:
    month = 'may'
elif month == 6:
    month = 'june'
elif month == 7:
    month = 'july'
elif month == 8:
    month = 'august'
elif month == 9:
    month = 'sep'
elif month == 10:
    month = 'oct'
elif month == 11:
    month = 'nov'
elif month == 12:
    month = 'dec'
newdate = month + " " + str(day) + "," + str(year)
print(newdate)

enter a date in form mm/dd/yyyy: 12/05/2022
dec 5,2022

In [14]:
listt = [[int(j) for j in input().split()] for i in range(3)]
print(listt)
for k in listt:
    print(k)

1 2 3
2 3 4
4 5 6
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[1, 2, 3]
[2, 3, 4]
[4, 5, 6]

In [31]:
i = input()
mth = i.split()
for i in range(len(mth)):
    b = mth[i][::-1]
    print(b,end = " ")

teena is graet
aneet si tearg

In [2]:
i = input()
b = i[::-1]
print(b, end = "")

teena is great
taerg si aneet

In [3]:
n = int(input())
x = [[int(j) for j in input().split()] for i in range(n)]
print(x)
for z in x:
    print(z)
y = [[int(m) for m in input().split()] for p in range(n)]
print(y)
for d in y:
    print(d)
result = [[0,0,0],
          [0,0,0],
          [0,0,0]]
for i in range(len(x)):
    for j in range(len(y[0])):
        for k in range(len(y)):
            result[i][j] += x[i][k]*y[k][j]
for r in result:
    print(r)

3
1 2 3
1 2 4
3 4 5
[[1, 2, 3], [1, 2, 4], [3, 4, 5]]
[1, 2, 3]
[1, 2, 4]
[3, 4, 5]
2 3 4
4 5 6
5 6 1
[[2, 3, 4], [4, 5, 6], [5, 6, 1]]
[2, 3, 4]
[4, 5, 6]
[5, 6, 1]
[25, 31, 19]
[30, 37, 20]
[47, 59, 41]

In [10]:
n = int(input())
x = [[int(j) for j in input().split()] for i in range(n)]
for k in x:
    print(k)
y = [[int(a) for a in input().split()] for b in range(n)]
for k in y:
    print(k)
result = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
    for j in range(len(x[0])):
        result[i][j] = x[i][j] + y[i][j]
for r in result:
    
    print(r)

3
1 1 1
1 1 1
1 1 1
[1, 1, 1]
[1, 1, 1]
[1, 1, 1]
1 1 1
1 1 1
1 1 1
[1, 1, 1]
[1, 1, 1]
[1, 1, 1]
[2, 2, 2]
[2, 2, 2]
[2, 2, 2]

In [2]:
n = int(input())
X = [[int(j) for j in input().split()] for i in range(n)]
for k in X:
    print(k)
Y = [[int(a) for a in input().split()] for b in range(n)]
for k in Y:
    print(k)
result = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
    for j in range(len(Y[0])):
        for k in range(len(Y)):
            result[i][j] += X[i][k]*Y[k][j]
for r in result:
    print(r)

3
1 2 3
2 3 4
2 3 1
[1, 2, 3]
[2, 3, 4]
[2, 3, 1]
1 2 3
2 3 4
2 1 2
[1, 2, 3]
[2, 3, 4]
[2, 1, 2]
[11, 11, 17]
[16, 17, 26]
[10, 14, 20]

In [2]:
X=[]
r = int(input())
c = int(input())
for i in range(r):
    row = []
    for j in range(c):
        element = int(input())
        row.append(element)
    X.append(row)
    print(X)
for k in X:
    print(k)

Y=[]
for i in range(r):
    row = []
    for j in range(c):
        element = int(input())
        row.append(element)
    Y.append(row)
    print(Y)
for k in Y:
    print(k)
    
result=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
    for j in range(len(Y[0])):
        for k in range(len(Y)):
            result[i][j] += X[i][k]*Y[k][j]
for r in result:
    print(r)

2
2
1
2
[[1, 2]]
5
6
[[1, 2], [5, 6]]
[1, 2]
[5, 6]
2
2
[[2, 2]]
3
6
[[2, 2], [3, 6]]
[2, 2]
[3, 6]
[8, 14, 0]
[28, 46, 0]
[0, 0, 0]

In [16]:
string = input()
count = 0
for i in string:
    if(i.islower()):
       count+=1 
print(count)

teena
5

In [23]:
dictt = {'a':1,'b':2,'c':3}
print(**dictt)

TypeError: 'a' is an invalid keyword argument for print()